@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../assets/fonts/arial.ttf");
    font-family: 'Arial';
}

@font-face {
    src: url("../assets/fonts/Rubik-Regular.ttf");
    font-family: 'RubikRegular';
}

* {
    font-family: 'RubikRegular';
}