@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf");
    font-family: 'WorkSans';
}


* {
    font-family: 'WorkSans';
}